body {
  margin: 0;
  background-color: #1b244a;
  font-family: "Cursed Timer ULiL", sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 40px auto 16px;
}

.container > div {
  text-align: center;
}

.container > div > p {
  color: #f94f6d;
  font-size: 40px;
  background-color: #080001;
  margin: 10px 0;
  padding: 15px 0;
  border-radius: 3px;
}

h3,
p {
  margin: 0;
}

h3 {
  color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

#score-btns-container {
  display: flex;
  justify-content: space-around;
}

#score-btns-container button {
  cursor: pointer;
  font-family: inherit;
  font-size: 10px;
  color: #9aabd8;
  background-color: transparent;
  border: 2px solid #9aabd8;
  border-radius: 3px;
  padding: 5px;
}

.reset-score-btn-container {
  text-align: center;
  margin: 25px 0;
}

.reset-score-btn {
  border: none;
  padding: 5px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.reset-score-btn:hover {
  background-color: #f94f6d;
  color: #eeeeee;
}
